.home-page {
	height: 89%;
}

.menu-button {
	width: 5%;
	padding-left: 2%;
	display: inline-block;
}

.logout-button {
	width: 5%;
	padding-right: 2%;
	padding-left: 86%;
	display: inline-block;
}

.md-sidenav-left {
  position: fixed;
}

.md-button.canvas-button {
	border: 2px solid black;
	margin: 0;
	font: 14px Cambria;
	font-weight: bold;
}