html {
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
}

#toolbar {
	background-color: #0375B4;
	-webkit-box-shadow: 0px 0px 5px 2px #000000;
    -moz-box-shadow: 0px 0px 5px 2px #000000;
    box-shadow: 0px 0px 5px 2px #000000;
    min-height: 40px;
    max-height: 40px;
}

#toolbar-home-transform {
	margin-left: -1%;
	min-width: 15%;
	transform: skew(-25deg, 0);
	line-height: 40px;
	background-color: #262228;
	z-index: 1;
	padding-left: 2%;
	position: relative;
	overflow: hidden;
}

#site-label {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-family: Roboto, "Helvetica Neue", sans serif;
	font-size: 14px;
	width: 100%;
	margin-left: 2%;
	line-height: 40px;
	transform: skew(25deg, 0);
	margin-right: 2%;
	z-index: 3;
	position: absolute;
	display: inline-block;
}

.home-page {
	height: 89%;
}

#menu-button {
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	max-height: 32px;
	margin-top: 3px;
	margin-bottom: 5px;
	padding-right: 1%;
	padding-left: 1%;
	font-weight: bold;
}

.md-sidenav-left {
  position: fixed;
}

.md-button.canvas-button {
	border: 2px solid black;
	margin: 0;
	font: 11px Cambria;
	font-weight: bold;
}

.checkbox-input {
	margin-top: 12px;
}

.checkbox-label {
	font: 14px Cambria;
	font-weight: bold;
}

input[type=checkbox]:checked + label {
	color: green;
}

input[type=checkbox] + label {
	color: red;
}

.viewport {
	min-height: 93.4vh;
}

.player-number {
	z-index: 1;
	color: white;
	font-size: 12px;
}

.player-number:hover {
	cursor: default;
}
