html {
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
}

.home-page {
	height: 89%;
}

.menu-button {
	width: 5%;
	padding-left: 2%;
	display: inline-block;
}

.logout-button {
	width: 5%;
	padding-right: 2%;
	padding-left: 86%;
	display: inline-block;
}

.md-sidenav-left {
  position: fixed;
}

.md-button.canvas-button {
	border: 2px solid black;
	margin: 0;
	font: 11px Cambria;
	font-weight: bold;
}

.checkbox-input {
	margin-top: 12px;
}

.checkbox-label {
	font: 14px Cambria;
	font-weight: bold;
}

input[type=checkbox]:checked + label {
	color: green;
}

input[type=checkbox] + label {
	color: red;
}

.viewport {
	min-height: 90vh;
}

.player-number {
	z-index: 1;
	color: white;
	font-size: 12px;
}

.player-number:hover {
	cursor: default;
}
