<md-dialog aria-label="Add Player">
  <form ng-cloak>
    <md-toolbar layout="row" id="team-toolbar">
      <div class="md-toolbar-tools" style="background-color: #0375B4; max-height: 40px; min-height: 40px">
        <span id="toolbar-team-transform"><h2 id="team-name">Player Setup</h2></span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="row" class="md-dialog-content content-box">
      <span class="team-selection left">
        <div class="inline">
          <h3 class="inline">Attack</h3>
          <md-button class="md-icon-button player-picker" ng-click="addAttackingPlayer()"><i class="material-icons md-18">add_circle</i></md-button>
          <md-button ng-if="playerPicker.attackPlayers.length > 0" class="md-icon-button player-picker" ng-click="deleteAttackingPlayer()"><i class="material-icons md-18 md-dark">remove_circle</i></md-button>
        </div>
        <div>
          <input type="color" ng-model="attackColor"/>
          <div class="spacer"></div>
          <div id="triangle" class="triangle attack" ng-click="selectShape('triangle', 'attack')"></div>
          <div class="square attack" ng-click="selectShape('square', 'attack')"></div>
          <div class="circle attack" ng-click="selectShape('circle', 'attack')"></div>
        </div>
        <div class="player-container">
          <span ng-repeat="player in playerPicker.attackPlayers">
            <input type="text" ng-model="player.currentNumber" class="player-shape"/>
          </span>
        </div>
      </span>
      <span flex></span>
      <span class="team-selection right">
        <div class="inline">
          <md-button ng-if="playerPicker.defensePlayers.length > 0" class="md-icon-button player-picker" ng-click="deleteDefensivePlayer()"><i class="material-icons md-18 md-dark">remove_circle</i></md-button>
          <md-button class="md-icon-button player-picker" ng-click="addDefensivePlayer()"><i class="material-icons md-18">add_circle</i></md-button>
          <h3 class="inline">Defense</h3>
        </div>
        <div>
          <div id="triangle" class="triangle defense" ng-click="selectShape('triangle', 'defense')"></div>
          <div class="square defense" ng-click="selectShape('square', 'defense')"></div>
          <div class="circle defense" ng-click="selectShape('circle', 'defense')"></div>
          <div class="spacer"></div>
          <input type="color" ng-model="defenseColor"/>          
        </div>
         <div class="player-container">
          <span ng-repeat="player in playerPicker.defensePlayers">
            <input type="text" ng-model="player.currentNumber" class="player-shape"/>
          </span>
        </div>
      </span>       
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button id="save-button" ng-click="save()">
        Save
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>