<div class="background-image">
	<div class="mask">
		<form name="loginForm" class="login">
			<div ng-if="messageToShow" class="login-response">{{messageReport}}</div>

			<div class="heading"><i>Login Name</i></div>
			<div><input class="input-form" type="text" aria-label="loginName" name="loginName" ng-model="main.username" md-minlength="1"/></div>

			<div class="heading"><i>Password</i></div>
			<div><input class="input-form" aria-label="loginPassword" type="password" name="loginPassword" ng-model="main.password" md-minlength="1"/></div>
					
			<div><md-button id="login-button" ng-click="attemptLogin()">Submit</md-button></div>
		</form>
	</div>
</div>
