<md-bottom-sheet class="player-editor">
	<span ng-cloak>
		<div class="table-row">
			<span class="column-entry"><b>Player Number</b></span>
			<span class="column-entry"><b>Section Times</b></span>
			<span class="column-entry"><md-button ng-click="save()"><b>Save</b></md-button></span>
		</div>
	    <md-list flex layout="row" layout-align="left center">
	    	<div class="table-row">
				<md-list-item style="padding-left:0; background-color:rgba({{player.color.red}}, {{player.color.green}}, {{player.color.blue}}, 0.5)" ng-repeat="player in bottomSheet.players">
					<span class="column-entry">{{player.currentNumber}}</span>
					<span class="column-entry" ng-repeat="section in player.history">
						<md-input-container>
							<input type="number" min="{{player.history[$index - 1].endTime}}" max="{{section.endTime}}" step="0.1" class="number-input" aria-label="startTime" ng-model="section.startTime" maxlength="4">
						</md-input-container>
						<md-input-container>
							<input type="number" min="{{section.startTime}}" max="{{player.history[$index + 1].startTime}}" step="0.1" class="number-input" aria-label="endTime" ng-model="section.endTime" maxlength="4">
						</md-input-container>
					</span>
				</md-list-item>
			</div>
	    </md-list>
    </span>
</md-bottom-sheet>
