.table-row {
	font: 14px Cambria;
}

.column-entry {
	width: 160px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	padding-right: 1%;
}

.player-editor {
	max-height: 300px;
	overflow: scroll;
	padding-bottom: 0;
	position: fixed;
	bottom: 60px;
}

.number-input {
	max-width: 75px;
	text-align: center;
}

#input-holder {
	max-height: 50px;
	margin-bottom: 0;
	line-height: 50px;
	vertical-align: center;
	margin-top: 8px;
	width: 75px;
}
