#play-creation {
	width: 100%;
	text-align: center;
	display: inline-block;
	padding-top: 0.2%;
}

.playback-time {
	font: 16px Cambria;
}

.playback-time-label {
	font: 12px Cambria;
	font-weight: bold;
	text-align: center;
}

.current-time {
	font: 24px Cambria;
	color: green;
	font-weight: bold;
}

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-36.record-button { color: rgba(0, 0, 0, 0.3); cursor: pointer; }

.material-icons.md-36.record-button.red { color: #cc0000; }

.material-icons.md-36.red { color: red; }

.material-icons.md-36.purple { font-size: 36px; color: purple; cursor: pointer;}
