.material-icons.md-18 { 
	font-size: 18px; 
	color: green;
	vertical-align: center;
	display: inline-block;
	padding-top: 5px;
}

md-dialog {
	width: 80%;
}

.team-selection {
	width: 250px;
}

.team-selection.left {
	text-align: left;
}

.team-selection.right {
	text-align: right;
}

.inline {
	display: inline-block;
}

.md-button.md-icon-button.add{
	vertical-align: center;
	padding: 0;
	width: 20px;
}

.md-dialog-content.content-box {
	padding-top: 5px;
}

.player-shape {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	width: 20px;
	text-align: center;
}

.player-container {
	padding-top: 5px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 28px solid #A9A9A9;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.5;
}

.triangle:hover {
	cursor: pointer;
}

.triangle.selected {
	opacity: 1.0;
}

.square {
    width: 28px;
    height: 28px;
    background: #A9A9A9;
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.5;
}

.square:hover {
	cursor: pointer;
}

.square.selected {
	opacity: 1.0;
}

.circle {
    width: 28px;
    height: 28px;
    background: #A9A9A9;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.5;
}

.circle:hover {
	cursor: pointer;
}

.circle.selected {
	opacity: 1.0;
}

.spacer {
	display: inline-block;
	padding-left: 10px;
}

#toolbar-team-transform {
	margin-left: -3%;
	transform: skew(-25deg, 0);
	line-height: 40px;
	background-color: #262228;
	z-index: 1;
	padding-left: 3%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 17%;
	height: 100%;
}

#team-name {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-family: Roboto, "Helvetica Neue", sans serif;
	font-size: 14px;
	margin-left: 3%;
	line-height: 40px;
	transform: skew(25deg, 0);
	margin-right: 2%;
	z-index: 3;
	position: absolute;
	display: inline-block;
}

#team-toolbar {
	max-height: 40px;
	min-height: 40px;
}
