#toolbar-save-transform {
	margin-left: -3%;
	transform: skew(-25deg, 0);
	line-height: 40px;
	background-color: #262228;
	z-index: 1;
	padding-left: 3%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 17%;
	height: 100%;
}

#save-name {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-family: Roboto, "Helvetica Neue", sans serif;
	font-size: 14px;
	margin-left: 2%;
	line-height: 40px;
	transform: skew(25deg, 0);
	margin-right: 2%;
	z-index: 3;
	position: absolute;
	display: inline-block;
}

#save-toolbar {
	max-height: 40px;
	min-height: 40px;
}

#name-container {
	margin-top: 20px;
	color: black;
	font-size: 18px;
	font-weight: bold;
}
